include README.rst
include LICENSE
include CHANGES.rst
include minefield/server/picoev_epoll.c
include minefield/server/picoev_kqueue.c
include minefield/server/picoev_select.c
include minefield/server/*.h

